<ion-view view-title="Tarifauswahl">
	<ion-content>
		<div class="list">

        <div class="item item-divider">
          Haftplicht
        </div>
        <a class="item" href="#/app/tarif/haftpflicht/data/basis">
					Haftplicht Basis
        </a>
        <a class="item" href="#/app/tarif/haftpflicht/data/top">
          Haftplicht TOP
        </a>
        
        <div class="item item-divider">
          Hausrat
        </div>
        <a class="item" href="#/app/elements-form-placeholder-labels">
					Hausrat Basis
        </a>
        <a class="item" href="#/app/elements-form-inline-labels">
          Hausrat TOP
        </a>

        <div class="item item-divider">
          Wohngebäude
        </div>
        <a class="item" href="#/app/elements-form-placeholder-labels">
					Wohngebäude Basis
        </a>
        <a class="item" href="#/app/elements-form-inline-labels">
          Wohngebäude TOP
        </a>

        <div class="item item-divider">
          Weitere
        </div>
        <a class="item" href="#/app/elements-form-placeholder-labels">
					Unfallversicherung
        </a>
      </div>
	</ion-content>

  <ion-footer-bar class="bar">
  	<div class="tabs tabs-icon-left">
      <a class="tab-item active" href="#">
        <i class="icon ion-android-wifi"></i>
        Tarifauswahl
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-edit"></i>
        Daten
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-paper-outline"></i>
        Ergebnis
      </a>
    </div>
  </ion-footer-bar>
</ion-view>


