  <ion-tabs class="tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-paper-outline"></i>
        Daten
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-compose-outline"></i>
        Unterschrift
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-paperplane-outline"></i>
        Auftrag
      </a>
  </ion-tabs>
