<ion-view view-title="Antrag">

	<ion-content class="has-footer">

    <div class="padding">
      
      <h3>{{vm.calculation.tarif.type}}</h3>
      <h2>{{vm.calculation.tarif.name}}</h2>
                  
    </div>
  
    <form novalidate class="css-form" name="vm.applicationForm" ng-submit="vm.onSubmit()">
      <div class="list">

        <div ng-include="'scripts/shared/view/_client-fields.html'" includeReplace></div>
        <div ng-include="'scripts/shared/view/_client-application-fields.html'" includeReplace></div>
        
      </div>
      
      <div class="form-error">
        Bitte alle Felder korrekt ausfüllen
      </div>      

      <div class="padding">
        <button class="button button-block" type="submit">Zur Unterschrift</button>
      </div>
    </form>
  
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/insurance-application/view/_footer.html'"></ion-footer-bar>
  
</ion-view>




