<ion-view view-title="Antrag">
	
  <ion-content class="padding has-footer">

    <h3>{{vm.calculation.tarif.type}}</h3>
    <h2>{{vm.calculation.tarif.name}}</h2>
    
    <div class="list">

      <p class="item item-divider">
        Antragsteller
      </p>
      <p class="item">
        {{ vm.client.anrede }}
        {{ vm.client.firstname }}
        {{ vm.client.lastname }}
      </p>
      <p class="item">
        {{ vm.client.address1 }}
      </p>
      <p class="item" ng-show="vm.client.address2">
        {{ vm.client.address2 }}
      </p>
      <p class="item">
        {{ vm.client.zip }}
        {{ vm.client.city }}
      </p>
    
      <p class="item item-divider">
        Tarif-Angaben
      </p>
      <p class="item">
        <label>Prämie</label>
        <span class="text-right">
           &euro; {{vm.calculation.premium | number:2}}
        </span>
      </p>
      <p class="item item-floating-label" ng-repeat="(key, value) in vm.calculation.attrs">
        <label>{{key}}</label>
        <span class="text-right">
          {{value}}
        </span>
      </p>
            
      <img width="100%" height="150" id="signature-preview" />
    
      <div ng-show="! vm.send_failed">
        <button class="button button-block" ng-click="vm.onSend()">Antrag senden</button>
      </div>
    
      <div class="send-failed" ng-show="vm.send_failed">
        Leider hat das Versenden nicht funktioniert. Versuchen Sie es erneut. 
        Die App wird beim nächsten Start automatisch versuchen, den Antrag zu versenden.
        
        <button class="button button-block" ng-click="vm.onHome()">Home</button>        
      </div>      

    </div>
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/insurance-application/view/_footer.html'"></ion-footer-bar>
  
</ion-view>