<label class="item item-input item-select">
  <div class="input-label">
    Anrede
  </div>
  <select ng-model="vm.client.anrede" required>
    <option>Herr</option>
    <option>Frau</option>
  </select>
</label>
        
<label class="item item-input item-floating-label">
  <span class="input-label">Vorname</span>
  <input type="text" placeholder="Vorname" ng-model="vm.client.firstname" required>
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Nachname</span>
  <input type="text" placeholder="Nachname" ng-model="vm.client.lastname" required>
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Straße, Hausnummer</span>
  <input type="text" placeholder="Straße, Hausnummer" ng-model="vm.client.address1" required>
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Adresse (Zusatz)</span>
  <input type="text" placeholder="Adresse (Zusatz)" ng-model="vm.client.address2">
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">PLZ</span>
  <input type="number" placeholder="PLZ" ng-model="vm.client.zip" required ng-minlength="5" ng-maxlength="5">
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Ort</span>
  <input type="text" placeholder="Ort" ng-model="vm.client.city" required>
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Telefon</span>
  <input type="tel" placeholder="Telefon" ng-model="vm.client.phone" required>
</label>        

<label class="item item-input item-floating-label">
  <span class="input-label">E-Mail</span>
  <input type="email" placeholder="E-Mail" ng-model="vm.client.email" required>
</label>