<ion-view view-title="Settings">

	<ion-content>
    <form novalidate class="css-form">
      <div class="list">
                
        <label class="item item-input item-floating-label">
          <span class="input-label">Vorname</span>
          <input type="text" placeholder="Vorname" ng-model="vm.agent.firstname">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Nachname</span>
          <input type="text" placeholder="Nachname" ng-model="vm.agent.lastname">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">E-Mail</span>
          <input type="email" placeholder="E-Mail" ng-model="vm.agent.email" required>
        </label>
                
        <label class="item item-input item-floating-label">
          <span class="input-label">Vermittler-ID</span>
          <input type="text" placeholder="Vermittler-ID" ng-model="vm.agent.id" required>
        </label>

      </div>

      <div class="row">
  			<div class="col">
          <button class="button button-block" ng-click="vm.onOk()">OK</button>
  			</div>

  			<div class="col">
          <button class="button button-block" ng-click="vm.onDelete()">Löschen</button>
  			</div>
      </div>
    </form>
  </ion-content>
  

</ion-view>


