<ion-view view-title="Home">
	<ion-content class="has-footer">
		<div class="home-hello">
			<img src="images/home.jpg"/>
			<!--div class="item item-text-wrap">
        
				<h1>MANAUG</h1>
				50 Market Street, San Francisco, California 94103, United States
        
			</div -->
		</div>


    <div class="row">
      <div class="card col home">
				<a class="disabled item item-text-wrap" ng-click="vm.onTarifauswahl()" menu-close>
					<h1><i class="icon ion-android-checkbox-outline"></i></h1>
					<h2>Tarifberechnung starten</h2>
				</a>        
      </div>

      <div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.onMandat()" menu-close>
					<h1><i class="icon ion-ios-arrow-down"></i></h1>
					<h2>Geschäfts- besorgungs- auftrag erfassen</h2>
				</a>        
      </div>

    </div>

    <hr/>
    
    <div class="padding" ng-hide="vm.agentGiven()">
      Bitte erfassen Sie zuerst ihre persönlichen Daten in den Einstellungen.
      
      <button class="button button-block" ng-click="vm.onSettings()">Einstellungen</button>      
    </div>

	</ion-content>
  
  <ion-footer-bar class="bar">
    <ion-tabs class="tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-information-outline"></i>
        limited test version
      </a>
    </ion-tabs>    
  </ion-footer-bar>
  
</ion-view>
