<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menü</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close class="item-icon-left" href="#/app/home">
					<i class="icon ion-ios-home"></i>
					Home
				</ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/tarifauswahl">
					<i class="icon ion-ios-calculator"></i>
					Neue Tarifberechnung
				</ion-item>
        <ion-item menu-close class="item-icon-left" href="#/app/maklermandat/data">
					<i class="icon ion-ios-paper"></i>
					GBA erfassen
				</ion-item>        				
        <ion-item menu-close class="item-icon-left" href="#/app/settings">
					<i class="icon ion-settings"></i>
					Einstellungen
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
