  <ion-tabs class="tabs-icon-left">
      <a ng-class="{active : vm.constructor.name == 'MaklermandatDataController'}" class="tab-item" href="#/app/maklermandat/data">
        <i class="icon ion-ios-paper-outline"></i>
        Daten
      </a>
      <a ng-class="{active : vm.constructor.name == 'MaklermandatSignatureController'}" class="tab-item" href="#/app/maklermandat/signature">
        <i class="icon ion-ios-compose-outline"></i>
        Unterschrift
      </a>
      <a ng-class="{active : vm.constructor.name == 'MaklermandatSendController'}" class="tab-item" href="#/app/maklermandat/send">
        <i class="icon ion-ios-paperplane-outline"></i>
        Auftrag
      </a>
  </ion-tabs>
