<ion-view view-title="Geschäftsbesorgungsauftrag">
	
  <ion-content class="padding has-footer">
    <h3>Geschafft!</h3>
    
		<div class="list">
      <div class="item item-divider">
        Von hier aus weiter
      </div>
      <a class="item" href="#/app/home">
				Beratung beenden
      </a>
      <a class="item" href="#/app/tarifauswahl">
				Tarif berechnen
      </a>
    </div>    

  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/maklermandat/view/_footer.html'"></ion-footer-bar>
  
</ion-view>