
<ion-view view-title="Geschäftsbesorgungsauftrag">

	<ion-content class="has-footer">
    <form novalidate class="css-form" name="vm.form" ng-submit="vm.onFormSubmit()">
      <div class="list">

        <!--fancy-select
            header-text="Anrede"
            allow-empty='true'
            value="vm.client.anrede"
            label="Anrede"
            text="vm.client.anrede"
            items="vm.anreden">
        </fancy-select -->

        <div ng-include="'scripts/shared/view/_client-fields.html'"></div>
        
        <li class="item item-toggle">
           Erstinformation erhalten
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="vm.client.firstInformationReceived">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>      
      </div>
      
      <div class="form-error">
        Bitte alle Felder korrekt ausfüllen
      </div>
      

      <div class="padding">
        <button class="button button-block" type="submit">Unterschrift erfassen</button>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/maklermandat/view/_footer.html'"></ion-footer-bar>  
  
</ion-view>




