<ion-view view-title="Geschäftsbesorgungsauftrag">
	
  <ion-content class="padding has-footer">
    <h3>Geschäftsbesorgungsauftrag</h3>
    
    <div class="list">          
      <p>
        {{ vm.client.anrede }}
        {{ vm.client.firstname }}
        {{ vm.client.lastname }}
      </p>
      <p>
        {{ vm.client.address1 }}
      </p>
      <p>
        {{ vm.client.address2 }}
      </p>
      <p>
        {{ vm.client.zip }}
        {{ vm.client.city }}
      </p>
    
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus 
        est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>

      <img width="100%" height="150" id="signature-preview" />
    
      <div>
        <button class="button button-block" ng-click="vm.send()">Aufrag senden</button>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/maklermandat/view/_footer.html'"></ion-footer-bar>
  
</ion-view>