<ion-view view-title="Geschäftsbesorgungsauftrag">
  <ion-content class="has-footer" scroll="false" id="signature-content">
    <h3>Unterschrift</h3>
    <p>
      Bitte auf dem Bildschirm unterschreiben lassen.
    </p>

    <canvas 
        id="signaturePad" 
        style="border: 1px solid black;" 
        width="{{vm.dev_width - 2}}" 
        height="{{vm.dev_height - 230}}">
    </canvas>

    <div class="padding">
      <button class="button button-block" ng-click="vm.setSignature()">Angaben prüfen</button>
    </div>

  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/maklermandat/view/_footer.html'"></ion-footer-bar>

</ion-view>