<label class="item item-input item-floating-label">
  <span class="input-label">IBAN</span>
  <input type="text" placeholder="IBAN (ohne DE)" ng-model="vm.client.iban" required ng-minlength="18" ng-maxlength="18">
</label>

<ion-checkbox ng-model="vm.application.vorversicherung" class="item-checkbox-right">
  Vorversicherung vorhanden
</ion-checkbox>

<label class="item item-input item-floating-label">
  <span class="input-label">Vorversicherung</span>
  <input type="text" placeholder="Vorversicherung" ng-model="vm.application.vorversicherungName" >
</label>

<label class="item item-input item-floating-label">
  <span class="input-label">Vorversicherungs-Nr.</span>
  <input type="text" placeholder="Vorversicherungs-Nr." ng-model="vm.application.vorversicherungsNr" >
</label>

<div class="item item-divider">
  Gekündigt durch
</div>
<ion-radio ng-model="vm.application.vorversicherungsCanceled" ng-value="'vn'">
  Versicherungsnehmer/Makler
</ion-radio>
<ion-radio ng-model="vm.application.vorversicherungsCanceled" ng-value="'company'">
  Gesellschaft
</ion-radio>

<label class="item item-input item-floating-label">
  <span class="input-label">Anzahl Vorschäden</span>
  <input type="text" placeholder="Anzahl Vorschäden" ng-model="vm.application.vorschaedenAnzahl" >
</label>

