<ion-list class="fancy-select">
  <ion-item class="item-text-wrap" ng-click="showItems($event)">
    <span class="input-label">
      {{label}}
    </span>

    <p>{{text}}</p>

    <span class="item-note">
      {{noteText}}
      <!--img class="{{noteImgClass}}" ng-if="noteImg != ''" src="{{noteImg}}" /-->
    </span>

  </ion-item>
</ion-list>