<ion-view view-title="Haftpflicht">
	
  <ion-content class="padding has-footer">
    <h3>Geschafft!</h3>
    
		<div class="list">
      <div class="item item-divider">
        Von hier aus weiter
      </div>
      <a class="item" href="#/app/home">
				Beratung beenden
      </a>
      <a class="item" href="#/app/tarifauswahl">
				Neuen Tarif berechnen
      </a>
      <a class="item" href="#/app/maklermandat/data">
				Geschäftsbesorgungsauftrag 
      </a>
    </div>    

  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/tarif-haftpflicht/view/_footer.html'"></ion-footer-bar>
  
</ion-view>