
<ion-view view-title="Haftpflicht">

	<ion-content class="has-footer">

    <div class="padding">
      
      <h3>Haftpflicht</h3>
      <h2>{{vm.tarif.name}}</h2>
      
      <span class="tarif-input-hint">
        Bitte wählen Sie eine Tarifgruppe
      </span>      
    </div>
    
    <form novalidate ng-submit="vm.onCalculate()">
      <ion-radio ng-model="vm.gruppeId" ng-value="'single'">Singles</ion-radio>
      <ion-radio ng-model="vm.gruppeId" ng-value="'familie'">Familien</ion-radio>
      <ion-radio ng-model="vm.gruppeId" ng-value="'senior'">Senioren (Single)</ion-radio>

      <div class="padding"> 
        <button class="button button-block" ng-disabled="vm.gruppeId == null" type="submit">Prämie berechnen</button>
      </div>
    </form>
  
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/insurance-application/view/_footer.html'"></ion-footer-bar>
  
</ion-view>




