<ion-view view-title="Angebot">

	<ion-content class="has-footer">

    <div class="padding">
      
      <h3>Haftpflicht</h3>
      <h2>
        {{vm.tarif.name}}
        {{vm.gruppe.name}}
      </h2>
      
      <h1>{{vm.gruppe.premium | number:2}} &euro;</h1>
                  
    </div>
  
  
    <div class="padding">
      <button class="button button-block" ng-click="vm.onApplication()">Antrag erfassen</button>
    </div>
  
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/insurance-application/view/_footer.html'"></ion-footer-bar>
  
</ion-view>




