<ion-view view-title="Tarifauswahl">
	<ion-content>
		<div class="list">

        <div class="item item-divider">
          Sorry, not implemented yet.
        </div>
        <a class="item" href="#/app">
					Zurück zur Startseite
        </a>

      </div>
	</ion-content>

  <ion-footer-bar class="bar">
    <ion-tabs class="tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-information-outline"></i>
        limited test version
      </a>
    </ion-tabs>    
  </ion-footer-bar>

</ion-view>


