<ion-view view-title="Tarifauswahl">
	<ion-content>
		<div class="list">

        <div class="item item-divider">
          Haftplicht
        </div>
        <a class="item" href="#/app/tarif/haftpflicht/data/basis">
					Haftplicht Basis
        </a>
        <a class="item" href="#/app/tarif/haftpflicht/data/top">
          Haftplicht TOP
        </a>

        <div class="item item-divider">
          Glasversicherung
        </div>
        <a class="item" href="#/app/tarif/glas/data/basis">
					Glasversicherung Basis
        </a>
        <a class="item" href="#/app/tarif/glas/data/top">
          Glasversicherung TOP
        </a>
        
        <div class="item item-divider">
          Hausrat
        </div>
        <a class="item" href="#/app/tarifauswahl-not">
					Hausrat Basis
        </a>
        <a class="item" href="#/app/tarifauswahl-not">
          Hausrat TOP
        </a>

        <div class="item item-divider">
          Wohngebäude
        </div>
        <a class="item" href="#/app/tarifauswahl-not">
					Wohngebäude Basis
        </a>
        <a class="item" href="#/app/tarifauswahl-not">
          Wohngebäude TOP
        </a>

        <div class="item item-divider">
          Weitere
        </div>
        <a class="item" href="#/app/tarifauswahl-not">
					Unfallversicherung
        </a>
      </div>
	</ion-content>

  <ion-footer-bar class="bar">
    <ion-tabs class="tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-ios-information-outline"></i>
        limited test version
      </a>
    </ion-tabs>    
  </ion-footer-bar>

</ion-view>


