
<ion-view view-title="Haushaltsglas">

	<ion-content class="has-footer">

    <div class="padding">
      
      <h3>Glasversicherung</h3>
      <h2>{{vm.tarif.name}}</h2>
            
      <span class="tarif-input-hint">
        Bitte geben Sie an, wieviel Glasfläche (in qm) versichert werden soll.
      </span>
    </div>
    
    <form novalidate ng-submit="vm.onCalculate()">

      <label class="item item-input item-floating-label">
        <span class="input-label">Quadratmeter</span>
        <input type="number" placeholder="Quadratmeter" ng-model="vm.calculation.qm" required ng-minlength="1" ng-maxlength="4">
      </label>
      
      <div class="padding"> 
        <button class="button button-block" ng-disabled="! vm.calculation.qm" type="submit">Prämie berechnen</button>
      </div>
    </form>
  
  </ion-content>

  <ion-footer-bar class="bar" ng-include="'scripts/insurance-application/view/_footer.html'"></ion-footer-bar>
  
</ion-view>




